.busquedaPrincipal{
    background-image: url("../../assets/landing-image.jpg");
    min-height: 30vh;
}

#loginBody {
    background-image: url("../../assets/landing-image.jpg");
}

.introduccionLandingPages {
    min-height: 10vh;
    background-image: url("../../assets/landing-image.jpg");
}