.navbar-light,.navbar, .navbar-expand-lg{
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: inherit!important;
}
.navbar-brand,.nav-item{
    color: $black ;
    font-size: 1.8vw;
    display:inherit;
}
.navbar-brand b{
    color: $colorPrincipal;
}
