$colorPrincipal:#28B463;
$colorSecundario:#28B463;
$colorAuxiliar:#19A554;
$colorAuxiliarDos:#2A7AA0;
$colorCancelar: #FF001B;
$colorEdicion: #E4EA20;
$subtitulos: #7D8389;
$blanco: #ffff;
$black: #0000;
$font: 'Raleway', sans-serif;
