.btn-primary {

    color: white;
    background-color: #28B463;
    border-color: #28B463;
    border-radius: 60px;
}

.btn-primary:hover {
    background-color: #19A554;
    border-color: #19A554;
}

.card strong {
    color: #28B463;
}
.card-body a {
    display: block;
}