.btn-primary {

    color: $blanco;
    background-color: $colorPrincipal;
    border-color: $colorSecundario;
    border-radius: 60px;
}

.btn-primary:hover {
    background-color: $colorPrincipal;
    border-color: $colorAuxiliar;
}

.card strong {
    color: $colorSecundario;
}
.card-body a {
    display: block;
}