
#logo{
    height:3rem;
    width: auto;
    margin-right: 3vw;
}
#header{
    background-color: $blanco;
    height:12vh;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.mr-auto, .mx-auto {
    margin-left: auto !important;
    margin-right: 0!important;
}
@media screen and (max-width: 991px) {
    .navbar-brand {
       font-size: 3vw;
    }
  }