
.navbar-light,.navbar{
    background-color: inherit!important;
}
.navbar-brand{
    color:black!important;
    font-size: 3vh;
}
.navbar-brand img{
    height:3rem;
    width: auto;
}
#header{
    background-color: white;
    height:12vh;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
#navbar-logo{
    margin-right: 2vh;
}
.btn-head{
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    font-size: 2.2vh;
    margin-left: 0.2vh;
    margin-right: 0.2vh;
    border-radius: 60px;
}
.btn-head:hover{
    font-size: 2.6vh;
    color: white;
    background-color: #28B463;
}
