
.navbar-light,.navbar, .navbar-expand-lg{
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: inherit!important;
}
.navbar-brand,.nav-item{
    color:black!important;
    font-size: 1.8vw;
    display:inherit;
}
.navbar-brand b{
    color: #28B463;
}
#logo{
    height:3rem;
    width: auto;
    margin-right: 3vw;
}
#header{
    background-color: white;
    height:12vh;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
.btn-head{
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    font-size: 2.2vh;
    margin-left: 0.2vh;
    margin-right: 0.2vh;
    border-radius: 60px;
}
.btn-head:hover{
    font-size: 2.3vh;
    color: white!important;
    background-color: #28B463;
}
.mr-auto, .mx-auto {
    margin-left: auto !important;
    margin-right: 0!important;
}
@media screen and (max-width: 991px) {
    .navbar-brand {
       font-size: 3vw;
    }
  }