
.busquedaProducto{
    width: 100%;
}

.containerBusqueda{
    min-height: 30vh;
}

.tamanioFoto{
    max-height: 20vh;
}




.carousel-item,.carousel-inner,#carouselExampleCaptions{
    height: inherit;
}

#contenedorInferiorTab {
    background-color: $blanco;
    min-height: 100px;
}
