

#loginBody {
    background-image: url("../../assets/landing-image.jpg");
}

.container-login {
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 100%;
    border: 0;
    border-radius: 6vh;
}

.btn-signin, .btn-register {
    font-size: 90%;
    border-radius: 5vh;
    letter-spacing: .2vh;
    font-weight: bold;
    padding: 1vh;
}

.card-title{
    padding: 1vh;
    color: $colorPrincipal;
    font-weight: bold;
    letter-spacing: .2vh;
    text-align: center;
}

.card-paragraph{
    padding: 1vh;
    color: $black;
    letter-spacing: .1vh;
    font-size: 21px;

}


