@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../scss/header.scss";
@import "../scss/footer.scss";
@import "../scss/login.scss";
@import "../scss/index.scss";
@import "../scss/busqueda.scss";



