@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../scss/header.scss";
@import "../scss/footer.scss";
@import "../scss/login.scss";
@import "../scss/busqueda.scss";




.busquedaProducto{
    width: 100%;
}

.containerBusqueda{
    min-height: 30vh;
}

.tamanioFoto{
    max-height: 20vh;
}

.busquedaPrincipal{
    background-image: url("../../assets/landing-image.jpg");
    min-height: 30vh;
}


.carousel-item,.carousel-inner,#carouselExampleCaptions{
    height: inherit;
}

#contenedorInferiorTab {
    background-color: white;
    min-height: 100px;
}
