@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../scss/header.scss";

.carousel-item,.carousel-inner,#carouselExampleCaptions{
    height: inherit;
}

#contenedorInferiorTab {
    background-color: white;
    min-height: 100px;
}
