.list-group-item {
  background-color: inherit; }

#contenedorInferiorTab .list-group {
  border-radius: 15px; }

.dynamic-col:hover {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: #28B463;
  border-radius: 17px;
  color: white; }

.list-group-item:hover {
  background-color: white;
  color: #28B463; }
